<aside class="col-sm-3 hidden-xs left-menu" data-spy="affix" data-offset-top="0">
    <article class="well">
        <ul class="list-unstyled">
            <li><a href="#post" class="undecorated">Say something</a></li>
            <li><a href="#first" class="undecorated">First post</a></li>
            <li><a href="#second" class="undecorated">Second post</a></li>
        </ul>
    </article>
</aside>